@page
@model BBHTest.Pages.Things.MainModel
@{
}<div class="w3-twothird w3-container">
<h1 style="text-align:center;">A little portfolio</h1> 
<p style="text-align:center;">On this page you can some of my best projects. Click on the image to redirect.</p> <br />
</div>
<div>
	<div class="w3-twothird w3-container">
  <h2>JavaFX MP3 Player</h2>
  <p>
  JavaFX MP3 application allow to create playlist from any user selected MP3 files and play these tracks in any sequence, allow to user to change song current  duration and its different parameters. To do this application have a special directory  with specific path to it, which will allow to extract MP3 files, crate playlist, display track names  and play them. Another main feature of application is an option for user, to choose any specific song to play. 
  </p>
</div>
<div class="w3-third">
  <a href="https://github.com/SAKOLAJ/JavaFXMP3"><img src="~/pictures/javamp3_1.png"  style="width:100%;min-height:200px" /></a>
</div>


</div>
<div class="w3-row w3-margin">
	<div class="w3-twothird w3-container">
  <h2>Minecraft Modification</h2>
  <p>
  A small Minecraft mod which uses JSON’s for specific data operations, as well as OOP (different classes and Interfaces) principles and pure Java programming to make things work.
  </p>
</div>
<div class="w3-third">
  <a href="https://www.curseforge.com/minecraft/mc-mods/something_hankony_blocks"> <img src="~/pictures/hankony_demo - copy.png"  style="width:100%;min-height:200px" /></a>
</div>


</div>
<div class="w3-row w3-margin">
	<div class="w3-twothird w3-container">
  <h2>Small JAVAFX SQL application</h2>
  <p>
  This small application allows to user, to connect and output some data from MS SQL database, to store it in TXT file later.
  </p>
</div>
<div class="w3-third">
  <a href="https://github.com/SAKOLAJ/Small_JAVAFX_SQL_Application.-noodlegang"><img src="~/pictures/sqljava.png"  style="width:100%;min-height:200px"/></a>
</div>


</div>
<div class="w3-row w3-margin">
	<div class="w3-twothird w3-container">
  <h2>This Website</h2>
  <p>
  This small, local, website uses ASP .NET texhnologies to connect with the database. Users are able to Register, Login and change their personal information in their account. Administrator can edit or delete profiles
  </p>
</div>
<div class="w3-third">
 <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"> <img src="~/pictures/featured.jpg"  style="width:100%;min-height:200px"/></a>
</div>

</div>
